* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

/* Container */
.container {
  padding-right: 0px;
  padding-left: 0px;
}

/* Button */
.button {
  border: none;
  padding: 5px 22px;
  color: #fff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
}

.btn-primary {
  background-color: #FE7019;
  color: #fff;
}


.btn-secondary {
  background-color: #00215E;
}

.btn-tertiary {
  background-color: #18AB00;
}

.btn-quaternary {
  background-color: #F33535;
}

.btn-inactive {
  background-color: #f3353500;
  color: #919191;
}