* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

/* Container */
.container {
  padding-right: 0px;
  padding-left: 0px;
}

/* Button */
.button {
  border: none;
  padding: 5px 22px;
  color: #fff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 19px;
}

.btn-primary {
  background-color: #FE7019;
  color: #fff;
}


.btn-secondary {
  background-color: #00215E;
  color: #fff;
}

.btn-tertiary {
  background-color: #18AB00;
}

.btn-quaternary {
  background-color: #F33535;
}

.btn-inactive {
  background-color: #f3353500;
  color: #919191;
}

/* Label */
.label {
  color: #131313;
  font-size: 16px;
  font-weight: 500;
}

.label-child {
  color: #919191;
  font-size: 13px;
  font-weight: 500;
  line-height: 5px;
}

/* Input Type Date */
input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  /* width */
  width: 13px;
}

::-webkit-scrollbar-track {
  /* Track */
  background-color: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  /* Handle */
  background: #D9D9D9;
  border-radius: 5px;
}

.input-icon-form {
  padding: 0px 2px;
}

/* Hide Arrow Input Type Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}